<<<<<<< HEAD
<p id="notice "><%= notice %></p>
=======
<p id="notice"><%= notice %></p>
>>>>>>> fe2516288b2b46312419d7289553e5acec78628c

<p>
  <b>Firstname:</b>
  <%= @profile.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @profile.lastname %>
</p>

<p>
<<<<<<< HEAD
  <b>Phoneno:</b>
  <%= @profile.phoneno %>
</p>

<p>
  <b>Photo</b>
  <%= image_tag(@profile.photo.url(:small)) %></br ></br>


<%= link_to 'create location' , new_address_path %> </br >
=======
  <b>Phone:</b>
  <%= @profile.phone %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag(@profile.photo.url(:small)) %>
</p>


>>>>>>> fe2516288b2b46312419d7289553e5acec78628c
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', pages_path %>
